.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.953125;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.052734;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-7.259366px;}
._9{margin-left:-1.058267px;}
._4{width:1.137237px;}
._5{width:2.901423px;}
._0{width:71.746072px;}
._2{width:118.160778px;}
._1{width:131.389404px;}
._7{width:451.878030px;}
._a{width:523.484210px;}
._6{width:660.146289px;}
._8{width:682.411246px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:32.099100px;}
.fs3{font-size:35.931900px;}
.fs2{font-size:39.764400px;}
.fs4{font-size:47.909100px;}
.fs1{font-size:56.053500px;}
.fs0{font-size:63.719100px;}
.y3a{bottom:2.159981px;}
.y38{bottom:2.160004px;}
.y0{bottom:74.500000px;}
.y2b{bottom:77.759995px;}
.y2c{bottom:78.500000px;}
.y71{bottom:81.480011px;}
.y2a{bottom:88.679992px;}
.y70{bottom:94.199982px;}
.y29{bottom:99.720016px;}
.y6f{bottom:106.439987px;}
.y28{bottom:110.640015px;}
.y6e{bottom:119.160004px;}
.y27{bottom:121.679992px;}
.y6d{bottom:131.400009px;}
.y26{bottom:132.599991px;}
.y6c{bottom:143.519989px;}
.y25{bottom:143.640015px;}
.y24{bottom:154.679992px;}
.y6b{bottom:155.759995px;}
.y23{bottom:165.599991px;}
.y6a{bottom:168.000000px;}
.y22{bottom:176.640015px;}
.y69{bottom:180.240005px;}
.y21{bottom:187.560013px;}
.y68{bottom:192.359985px;}
.y20{bottom:198.599991px;}
.y67{bottom:204.599991px;}
.y1f{bottom:209.519989px;}
.y66{bottom:216.839996px;}
.y1e{bottom:220.560013px;}
.y65{bottom:228.960022px;}
.y1d{bottom:231.480011px;}
.y64{bottom:241.679992px;}
.y1c{bottom:242.519989px;}
.y1b{bottom:253.560013px;}
.y1a{bottom:265.199982px;}
.y63{bottom:268.560013px;}
.y19{bottom:279.480011px;}
.y62{bottom:280.800018px;}
.y61{bottom:293.039978px;}
.y18{bottom:294.119980px;}
.y60{bottom:305.279984px;}
.y17{bottom:308.759995px;}
.y5f{bottom:317.400009px;}
.y16{bottom:323.400009px;}
.y5e{bottom:329.640015px;}
.y15{bottom:338.039978px;}
.y5d{bottom:341.880020px;}
.y14{bottom:352.679992px;}
.y5c{bottom:354.000000px;}
.y5b{bottom:366.240005px;}
.y13{bottom:367.320007px;}
.y5a{bottom:378.480011px;}
.y12{bottom:381.960022px;}
.y59{bottom:390.720016px;}
.y11{bottom:396.720016px;}
.y58{bottom:403.439987px;}
.y10{bottom:411.360008px;}
.yf{bottom:426.000000px;}
.y57{bottom:427.799995px;}
.y49{bottom:440.160004px;}
.ye{bottom:440.639992px;}
.y48{bottom:449.879997px;}
.y56{bottom:454.679992px;}
.yd{bottom:455.280007px;}
.y47{bottom:459.599991px;}
.y55{bottom:464.400009px;}
.y46{bottom:469.440010px;}
.yc{bottom:469.919998px;}
.y54{bottom:474.120003px;}
.y45{bottom:479.160004px;}
.y53{bottom:483.959999px;}
.yb{bottom:484.559990px;}
.y44{bottom:488.879997px;}
.y52{bottom:492.000000px;}
.y43{bottom:498.719993px;}
.ya{bottom:499.200004px;}
.y51{bottom:502.320007px;}
.y42{bottom:508.440010px;}
.y50{bottom:512.519989px;}
.y9{bottom:514.080001px;}
.y41{bottom:518.280007px;}
.y4f{bottom:522.839996px;}
.y40{bottom:528.000000px;}
.y4e{bottom:533.160004px;}
.y3f{bottom:537.719993px;}
.y8{bottom:540.360008px;}
.y4d{bottom:543.360008px;}
.y3e{bottom:547.559990px;}
.y7{bottom:553.320007px;}
.y4c{bottom:553.679993px;}
.y3d{bottom:557.280007px;}
.y4b{bottom:563.879997px;}
.y6{bottom:565.559990px;}
.y3c{bottom:567.000000px;}
.y4a{bottom:574.200004px;}
.y3b{bottom:576.839996px;}
.y5{bottom:577.799995px;}
.y39{bottom:584.400009px;}
.y4{bottom:590.519989px;}
.y37{bottom:594.719993px;}
.y36{bottom:607.439999px;}
.y3{bottom:620.040001px;}
.y35{bottom:620.759995px;}
.y34{bottom:631.799996px;}
.y33{bottom:642.839996px;}
.y2{bottom:651.600002px;}
.y32{bottom:653.879997px;}
.y31{bottom:664.799996px;}
.y30{bottom:675.839996px;}
.y1{bottom:678.000000px;}
.y2f{bottom:686.759995px;}
.y2e{bottom:698.520001px;}
.y2d{bottom:711.000000px;}
.hb{height:9.719994px;}
.h9{height:9.720005px;}
.hd{height:9.720016px;}
.ha{height:24.873668px;}
.hc{height:28.071039px;}
.h5{height:30.813527px;}
.h6{height:31.422868px;}
.h4{height:34.774434px;}
.h7{height:41.897069px;}
.h3{height:43.435989px;}
.h2{height:49.376080px;}
.h8{height:641.500000px;}
.h1{height:645.500000px;}
.h0{height:792.000000px;}
.w4{width:3.959999px;}
.w3{width:3.960011px;}
.w9{width:3.960022px;}
.wa{width:4.080002px;}
.w6{width:4.680004px;}
.w7{width:4.799996px;}
.w11{width:16.799996px;}
.we{width:20.400009px;}
.wd{width:20.519990px;}
.w12{width:21.360008px;}
.wc{width:22.559990px;}
.w8{width:24.479988px;}
.wb{width:28.320007px;}
.wf{width:29.879998px;}
.w10{width:32.879998px;}
.w2{width:41.279995px;}
.w5{width:100.439999px;}
.w1{width:480.000000px;}
.w0{width:612.000000px;}
.x4{left:0.000000px;}
.x0{left:66.000000px;}
.x2{left:72.000000px;}
.x5{left:113.279995px;}
.x6{left:172.439999px;}
.x1{left:189.000000px;}
.x3{left:311.400009px;}
.x7{left:317.040001px;}
.x14{left:333.839996px;}
.x11{left:337.559990px;}
.x10{left:339.599991px;}
.x8{left:341.519989px;}
.xf{left:345.360008px;}
.x12{left:346.919999px;}
.x13{left:349.919999px;}
.x9{left:374.040001px;}
.xa{left:378.120003px;}
.xb{left:430.919999px;}
.xc{left:435.000000px;}
.xd{left:487.919999px;}
.xe{left:492.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-9.679155pt;}
._9{margin-left:-1.411023pt;}
._4{width:1.516316pt;}
._5{width:3.868564pt;}
._0{width:95.661429pt;}
._2{width:157.547704pt;}
._1{width:175.185872pt;}
._7{width:602.504041pt;}
._a{width:697.978947pt;}
._6{width:880.195052pt;}
._8{width:909.881661pt;}
.fs5{font-size:42.798800pt;}
.fs3{font-size:47.909200pt;}
.fs2{font-size:53.019200pt;}
.fs4{font-size:63.878800pt;}
.fs1{font-size:74.738000pt;}
.fs0{font-size:84.958800pt;}
.y3a{bottom:2.879975pt;}
.y38{bottom:2.880005pt;}
.y0{bottom:99.333333pt;}
.y2b{bottom:103.679993pt;}
.y2c{bottom:104.666667pt;}
.y71{bottom:108.640015pt;}
.y2a{bottom:118.239990pt;}
.y70{bottom:125.599976pt;}
.y29{bottom:132.960022pt;}
.y6f{bottom:141.919983pt;}
.y28{bottom:147.520020pt;}
.y6e{bottom:158.880005pt;}
.y27{bottom:162.239990pt;}
.y6d{bottom:175.200012pt;}
.y26{bottom:176.799988pt;}
.y6c{bottom:191.359985pt;}
.y25{bottom:191.520020pt;}
.y24{bottom:206.239990pt;}
.y6b{bottom:207.679993pt;}
.y23{bottom:220.799988pt;}
.y6a{bottom:224.000000pt;}
.y22{bottom:235.520020pt;}
.y69{bottom:240.320007pt;}
.y21{bottom:250.080017pt;}
.y68{bottom:256.479980pt;}
.y20{bottom:264.799988pt;}
.y67{bottom:272.799988pt;}
.y1f{bottom:279.359985pt;}
.y66{bottom:289.119995pt;}
.y1e{bottom:294.080017pt;}
.y65{bottom:305.280029pt;}
.y1d{bottom:308.640015pt;}
.y64{bottom:322.239990pt;}
.y1c{bottom:323.359985pt;}
.y1b{bottom:338.080017pt;}
.y1a{bottom:353.599976pt;}
.y63{bottom:358.080017pt;}
.y19{bottom:372.640015pt;}
.y62{bottom:374.400024pt;}
.y61{bottom:390.719971pt;}
.y18{bottom:392.159973pt;}
.y60{bottom:407.039978pt;}
.y17{bottom:411.679993pt;}
.y5f{bottom:423.200012pt;}
.y16{bottom:431.200012pt;}
.y5e{bottom:439.520020pt;}
.y15{bottom:450.719971pt;}
.y5d{bottom:455.840027pt;}
.y14{bottom:470.239990pt;}
.y5c{bottom:472.000000pt;}
.y5b{bottom:488.320007pt;}
.y13{bottom:489.760010pt;}
.y5a{bottom:504.640015pt;}
.y12{bottom:509.280029pt;}
.y59{bottom:520.960022pt;}
.y11{bottom:528.960022pt;}
.y58{bottom:537.919983pt;}
.y10{bottom:548.480011pt;}
.yf{bottom:568.000000pt;}
.y57{bottom:570.399994pt;}
.y49{bottom:586.880005pt;}
.ye{bottom:587.519989pt;}
.y48{bottom:599.839996pt;}
.y56{bottom:606.239990pt;}
.yd{bottom:607.040009pt;}
.y47{bottom:612.799988pt;}
.y55{bottom:619.200012pt;}
.y46{bottom:625.920013pt;}
.yc{bottom:626.559998pt;}
.y54{bottom:632.160004pt;}
.y45{bottom:638.880005pt;}
.y53{bottom:645.279999pt;}
.yb{bottom:646.079987pt;}
.y44{bottom:651.839996pt;}
.y52{bottom:656.000000pt;}
.y43{bottom:664.959991pt;}
.ya{bottom:665.600006pt;}
.y51{bottom:669.760010pt;}
.y42{bottom:677.920013pt;}
.y50{bottom:683.359985pt;}
.y9{bottom:685.440002pt;}
.y41{bottom:691.040009pt;}
.y4f{bottom:697.119995pt;}
.y40{bottom:704.000000pt;}
.y4e{bottom:710.880005pt;}
.y3f{bottom:716.959991pt;}
.y8{bottom:720.480011pt;}
.y4d{bottom:724.480011pt;}
.y3e{bottom:730.079987pt;}
.y7{bottom:737.760010pt;}
.y4c{bottom:738.239990pt;}
.y3d{bottom:743.040009pt;}
.y4b{bottom:751.839996pt;}
.y6{bottom:754.079987pt;}
.y3c{bottom:756.000000pt;}
.y4a{bottom:765.600006pt;}
.y3b{bottom:769.119995pt;}
.y5{bottom:770.399994pt;}
.y39{bottom:779.200012pt;}
.y4{bottom:787.359985pt;}
.y37{bottom:792.959991pt;}
.y36{bottom:809.919998pt;}
.y3{bottom:826.720001pt;}
.y35{bottom:827.679993pt;}
.y34{bottom:842.399994pt;}
.y33{bottom:857.119995pt;}
.y2{bottom:868.800003pt;}
.y32{bottom:871.839996pt;}
.y31{bottom:886.399994pt;}
.y30{bottom:901.119995pt;}
.y1{bottom:904.000000pt;}
.y2f{bottom:915.679993pt;}
.y2e{bottom:931.360001pt;}
.y2d{bottom:948.000000pt;}
.hb{height:12.959992pt;}
.h9{height:12.960007pt;}
.hd{height:12.960022pt;}
.ha{height:33.164890pt;}
.hc{height:37.428052pt;}
.h5{height:41.084702pt;}
.h6{height:41.897157pt;}
.h4{height:46.365912pt;}
.h7{height:55.862759pt;}
.h3{height:57.914651pt;}
.h2{height:65.834773pt;}
.h8{height:855.333333pt;}
.h1{height:860.666667pt;}
.h0{height:1056.000000pt;}
.w4{width:5.279999pt;}
.w3{width:5.280014pt;}
.w9{width:5.280030pt;}
.wa{width:5.440003pt;}
.w6{width:6.240006pt;}
.w7{width:6.399994pt;}
.w11{width:22.399994pt;}
.we{width:27.200012pt;}
.wd{width:27.359986pt;}
.w12{width:28.480011pt;}
.wc{width:30.079987pt;}
.w8{width:32.639984pt;}
.wb{width:37.760010pt;}
.wf{width:39.839997pt;}
.w10{width:43.839997pt;}
.w2{width:55.039993pt;}
.w5{width:133.919998pt;}
.w1{width:640.000000pt;}
.w0{width:816.000000pt;}
.x4{left:0.000000pt;}
.x0{left:88.000000pt;}
.x2{left:96.000000pt;}
.x5{left:151.039993pt;}
.x6{left:229.919998pt;}
.x1{left:252.000000pt;}
.x3{left:415.200012pt;}
.x7{left:422.720001pt;}
.x14{left:445.119995pt;}
.x11{left:450.079987pt;}
.x10{left:452.799988pt;}
.x8{left:455.359985pt;}
.xf{left:460.480011pt;}
.x12{left:462.559998pt;}
.x13{left:466.559998pt;}
.x9{left:498.720001pt;}
.xa{left:504.160004pt;}
.xb{left:574.559998pt;}
.xc{left:580.000000pt;}
.xd{left:650.559998pt;}
.xe{left:656.000000pt;}
}
.PatientInputField{
    width: 659px;
    margin-right: 150px;
    margin-left: -8px;
    height: 42px;
    font-size: 45px;
    border: none;
}
